<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Emidio Tassone</title>
</head>

<body>
    <div class="todo">
    <div class="conteinerPerfil">

        <div class="perfil">
            <div class="fotoCV">
                <img class="foto" src="/images/Emidio-CV.jpeg" alt="Foto de perfil: Emidio Tassone">
                <h1>EMIDIO TASSONE</h1>
            </div>
        </div>
        <div class="cuerpoDatos">

            <div class="detallesPerfil">
                <a href="tel:+59893305344">
                    <div class="fila">
                        <img class="iconoPerfil" src="/images/llamar.png"
                            alt="icono de celular">
                        <div class="detalleIcono">(+598) 99 305 344</div>
                    </div>
                </a>

                <a href="mailto:emidio.tassone@estudiantes.utec.edu.uy">
                    <div class="fila">
                        <img class="iconoPerfil" src="/images/email.png"
                            alt="icono de mail">
                        <div class="detalleIcono">emidio.tassone@estudiantes.utec.edu.uy</div>
                    </div>
                </a>

                <a href="https://github.com/Caulonia/">
                    <div class="fila">
                        <img class="iconoPerfil" src="/images/signo-de-github.png"
                            alt="icono de ithub">
                        <div class="detalleIcono">Caulonia</div>
                    </div>
                </a>

            </div>

            <div class="sobreMi">
                <h2>SOBRE MI</h2>
                <hr>
                <p>Desde el 2016 cumplo funciones en el departamento de TI Infraestructura DGC. Tareas que realizo 
                   mantenimiento de servidores (AD, DNS, FS, etc), redes (Fortinet, Mikrotik, Cisco), soporte a usuarios,
                   telefonía ipsec, mantenimiento de hardware, software de auditoria (Zabbix). 
                </p>

                <ul>
                    <li>Responsabilidad</li>
                    <li>Trabajo en equipo</li>
                    <li>Resolución de problemas</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cuerpoDetalles">

        <div class="panelIzquierdo">

            <div class="seccion">
            <div class="titulo">
                <div class="paralelogramo"></div>
                <div class="filaAlgo">
                    <img class="iconoDetalle" src="/images/sombrero-de-la-graduacion.png"
                        alt="icono de educación">
                    <p class="nombreSeccion"> EDUCACIÓN</p>
                </div>
            </div>
            <div class="lista">
                <p class="texLugar"><b>UTEC</b></p>
                <p class="texDetalle"><b>Licenciatura</b> <br>LTI</p>
                <p class="estado">4Completo</p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Digital House</b></p>
                <p class="texDetalle"><b>Des. Full Stack</b> <br> Completo</p>
                <p class="estado">  </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Bantotal</b></p>
                <p class="texDetalle"><b>Des.GeneXus</b> <br>Completo</p>
                <p class="estado"></p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Liceo Adven.</b></p>
                <p class="texDetalle"><b>Bachillerato</b> <br>Derecho</p>
                <p class="estado">  </p>
            </div>
        </div>

        <div class="seccion">
            <div class="titulo">
                <div class="paralelogramo"></div>
                <div class="filaAlgo">
                    <img class="iconoDetalle" src="/images/bolsa.png"
                        alt="icono de experiencia laboral">
                    <p class="nombreSeccion">EXP. LABORAL</p>
                </div>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Casinos del Estado</b></p>
                <p class="texDetalle"> 
                    Administrativo III <br>
                    12/2010 - actualidad
                </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Codere</b></p>
                <p class="texDetalle"> 
                    Operador de CCTV <br>
                    02/2008 - 11/2010
                </p>
            </div>
        </div>
        </div>

        


        <div class="panelDerecho">
            <div class="seccion">

            <div class="titulo">
                <div class="paralelogramo"></div>
                <div class="filaAlgo">
                    <img class="iconoDetalle" src="/images/notebook.png"
                        alt="icono de cursos">
                    <p class="nombreSeccion">ALGUNOS CURSOS</p>
                </div>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Círculo</b></p>
                <p class="texDetalle">Técnico PC y Redes</p>
                <p class="estado"> Completo </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>Fortinet</b></p>
                <p class="texDetalle">FortiSwitch</p>
                <p class="estado"> Completo </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>IBM</b></p>
                <p class="texDetalle">Programación de chatbot</p>
                <p class="estado"> Completo </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>GOOGLE</b></p>
                <p class="texDetalle">Cloud</p>
                <p class="estado"> Completo </p>
            </div>
            <div class="lista">
                <p class="texLugar"><b>AWS</b></p>
                <p class="texDetalle">Cloud</p>
                <p class="estado"> Completo </p>
            </div>
        </div>

            <div class="seccion">
             <div class="titulo">
                    <div class="paralelogramo"></div>
                    <div class="filaAlgo">
                        <img class="iconoDetalle" src="/images/idiomas.png"
                            alt="icono de idiomas">
                        <p class="nombreSeccion"> IDIOMAS</p>
                    </div>
                </div>
                <div class="lista">
                    <p class="texLugar"><b>Español</b></p>
                    <p class="texDetalle">Nativo</p>
                    <p class="estado">  </p>
                </div>
                <div class="lista">
                    <p class="texLugar"><b>Inglés</b></p>
                    <p class="texDetalle">B1</p>
                    <p class="estado">  </p>
                </div>
                <div class="lista">
                    <p class="texLugar"><b>Italiano </b></p>
                    <p class="texDetalle">Profesional</p>
                    <p class="estado">  </p>
                </div>
            </div>

            <div class="seccion">
                <div class="tituloExtra">
                    <div class="paralelogramo"></div>
                    <div class="filaAlgo">
                      <img class="iconoDetalle" src="/images/trabajo-en-equipo.png"
                            alt="icono de idiomas">
                        <p class="nombreSeccionExtra"> REFERENCIAS</p>
                    </div>
                </div>
                <div class="fila">
                  <img class="iconoPerfil" src="/images/llamar.png"
                      alt="icono de celular">
                  <div class="detalleRef"><a href="tel:+59899135428" class="llamar"> Lic. Federico Gordillo (+598) 99 135 428</a></div>
              </div>
              <div class="fila">
                <img class="iconoPerfil" src="/images/llamar.png"
                    alt="icono de celular">
                <div class="detalleRef"><a href="tel:+59899694049" class="llamar"> Lic. Javier Val (+598) 99 694 049</a></div>
            </div>
            <a href="public/cv-etassone_herokuapp.pdf" download="CV - E.Tassone.pdf">
                <button><b>Descargar CV</b></button>
            </a>
        </div>
        
    </div>
    </div>

    </div>
</div>
</body>

</html>
